name: Build and publish docs

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install python
        run: uv python install
      - name: Install the project
        run: uv sync --all-groups
      - name: Build and deploy docs
        run: uv run mkdocs gh-deploy --force
